<body>

<div class="todo-app container">

  <h1>ToDo List</h1>

    <div class="input form-group">
      <input type="text" [(ngModel)] = "tarefa" placeholder="Nova tarefa" class="input-item form-control">
      <button (click)= "adicionar()" class="btn-add btn btn-primary"><i class="fa fa-plus"></i>Adicionar</button>
    </div>

  <ul class="list-group">
    <li *ngFor="let item of itens; index as i" class="list-group-item">
        {{item}} <button (click) = "remover(i)" class="btn-remove btn btn-danger btn-sm">Remover</button>
        
    </li>
  </ul>

</div>
  
</body>